Repository kuzzleio/kuzzle-device-manager, pull requests merged in 2022-04, with the labels that each got.

#166 Add device provisioning with device-manager/device:create action
  features/AssetController.feature
  features/DeviceController/AttachEngine.feature
  features/DeviceController/Create.feature
  features/DeviceController/DetachEngine.feature
  features/DeviceController/Import.feature
  features/DeviceController/Misc.feature
  features/DeviceController/UnlinkAsset.feature
  features/Provisionning.feature
  features/fixtures/application/decoders/DummyTempDecoder.ts
  features/fixtures/application/decoders/DummyTempPositionDecoder.ts
  features/fixtures/fixtures.js
  features/support/hooks.js
  lib/DeviceManagerPlugin.ts
  lib/controllers/AssetController.ts
  lib/controllers/DeviceController.ts
  lib/core-classes/BatchProcessing/BatchController.ts
  lib/core-classes/BatchProcessing/BatchWriter.ts
  lib/core-classes/BatchProcessing/InstrumentablePromise.ts
  lib/core-classes/BatchProcessing/index.ts
  lib/core-classes/DeviceService.ts
  lib/core-classes/PayloadService.ts
  lib/core-classes/index.ts
  lib/core-classes/registers/MeasuresRegister.ts
  lib/mappings/catalogMappings.ts
  lib/mappings/index.ts
  lib/mappings/measuresMappings.ts
  lib/measures/BatteryMeasure.ts
  lib/measures/HumidityMeasure.ts
  lib/measures/MovementMeasure.ts
  lib/measures/PositionMeasure.ts
  lib/measures/TemperatureMeasure.ts
  lib/models/BaseAsset.ts
  lib/models/Catalog.ts
  lib/models/Config.ts
  lib/models/index.ts
  lib/types/BaseAssetContent.ts
  lib/types/DecodedPayload.ts
  lib/types/DeviceContent.ts
  lib/types/DeviceManagerConfiguration.ts
  lib/types/index.ts
  lib/types/measures/Measure.ts
  lib/types/measures/MeasureContent.ts
  lib/types/measures/MeasureDefinition.ts
  lib/types/measures/Measurement.ts
  package-lock.json
  package.json
Labels: changelog:new-features

#170 Add API action te retrieve measures linked to an asset
  features/AssetController.feature
  features/DeviceController/LinkAsset.feature
  features/DeviceController/UnlinkAsset.feature
  features/PayloadController.feature
  features/fixtures/fixtures.js
  features/support/hooks.js
  lib/controllers/AssetController.ts
  lib/core-classes/AssetService.ts
  lib/core-classes/Decoder.ts
  lib/core-classes/PayloadService.ts
  lib/mappings/measuresMappings.ts
  lib/measures/MovementMeasure.ts
  lib/types/DecodedPayload.ts
  lib/types/measures/MeasureContent.ts
Labels: changelog:new-features

#176 add capacities to override some method of the plugin
  lib/DeviceManagerPlugin.ts
  lib/core-classes/PayloadService.ts
  package-lock.json
  package.json
Labels: changelog:enhancements

#177 Release 0.4.15
  lib/DeviceManagerPlugin.ts
  lib/core-classes/PayloadService.ts
  package-lock.json
  package.json
Labels: release
