Repository kuzzleio/kuzzle-device-manager, pull requests merged in 2024-09, with the labels that each got.

#363 feat: add actions to get last measures on digital twins
  doc/2/concepts/measures-propagation/index.md
  doc/2/controllers/assets/get-last-measured-at/index.md
  doc/2/controllers/assets/get-last-measures/index.md
  doc/2/controllers/assets/m-get-last-measured-at/index.md
  doc/2/controllers/assets/m-get-last-measures/index.md
  doc/2/controllers/devices/get-last-measured-at/index.md
  doc/2/controllers/devices/get-last-measures/index.md
  doc/2/controllers/devices/m-get-last-measured-at/index.md
  doc/2/controllers/devices/m-get-last-measures/index.md
  lib/modules/asset/AssetService.ts
  lib/modules/asset/AssetsController.ts
  lib/modules/asset/roles/RoleAssetsReader.ts
  lib/modules/asset/types/AssetApi.ts
  lib/modules/device/DeviceService.ts
  lib/modules/device/DevicesController.ts
  lib/modules/device/roles/RoleDevicesReader.ts
  lib/modules/device/types/DeviceApi.ts
  lib/modules/shared/exports.ts
  lib/modules/shared/index.ts
  lib/modules/shared/services/DigitalTwinService.ts
  lib/modules/shared/services/index.ts
  lib/modules/shared/types/DigitalTwinApi.ts
  lib/modules/shared/types/DigitalTwinContent.ts
  lib/modules/shared/types/DigitalTwinEvents.ts
  lib/modules/shared/types/DigitalTwinMeasures.ts
  package-lock.json
  package.json
  tests/scenario/migrated/asset-history.test.ts
  tests/scenario/migrated/measure-ingestion-pipeline.test.ts
  tests/scenario/modules/assets/action-export.test.ts
  tests/scenario/modules/assets/action-get-last-measured-at.test.ts
  tests/scenario/modules/assets/action-get-last-measures.test.ts
  tests/scenario/modules/assets/action-mget-last-measured-at.test.ts
  tests/scenario/modules/assets/action-mget-last-measures.test.ts
  tests/scenario/modules/devices/action-get-last-measured-at.test.ts
  tests/scenario/modules/devices/action-get-last-measures.test.ts
  tests/scenario/modules/devices/action-mget-last-measured-at.test.ts
  tests/scenario/modules/devices/action-mget-last-measures.test.ts
  tests/scenario/modules/models/asset-model.test.ts
  tests/scenario/modules/models/device-model.test.ts
  tests/scenario/modules/models/measures-model.test.ts
Labels: enhancement, module-device, module-asset

#373 fix/check-default-values-for-asset-models
  lib/modules/model/ModelService.ts
  tests/hooks/collections.ts
  tests/scenario/modules/models/model-metadata.test.ts
Labels: module-model

#370 feat(metadata): add optional editor hints for metadata
  doc/2/concepts/metadatadetails/clock-picker.png
  doc/2/concepts/metadatadetails/dropdown-of-values.png
  doc/2/concepts/metadatadetails/index.md
  doc/2/concepts/models/index.md
  doc/2/controllers/models/update-asset/index.md
  doc/2/controllers/models/write-asset/index.md
  doc/2/controllers/models/write-device/index.md
  lib/modules/model/ModelsRegister.ts
  lib/modules/model/types/ModelContent.ts
  lib/modules/model/types/ModelDefinition.ts
  lib/modules/plugin/DeviceManagerPlugin.ts
  tests/scenario/modules/models/asset-model.test.ts
  tests/scenario/modules/models/device-model.test.ts
  tests/scenario/modules/models/model-metadata.test.ts
Labels: enhancement, module-model
